html,body{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.page{
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	min-width: 1300px;
}
.page .bg img{
	width: 100%;
	height: 100%;
}
.page div{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.page_s{
	background: yellowgreen;
}
.page_t{
	background: green;
}
.page_forth{
	background: red;
}
.btn{
	position: absolute;
	right: 0;
	top: 50%;
	width: 70px;
	height: 277px;
	margin-right: -15px;
	background: rgba(0,0,0,0.7);
	margin-top: -138px;
	z-index: 3;
	border-radius: 15px;
}
.btn .QQ{
	width: 24px;
	height: 24px;
	background: url(../images/icons.png) no-repeat -76px -32px;
	position: absolute;
	left: 15px;
	top: 69px;
}
.btn .prev{
	width: 28px;
	height: 15px;
	background: url(../images/icons.png) no-repeat -76px -166px;
	position: absolute;
	left: 15px;
	top: 20px;
}
.btn .WX{
	width: 30px;
	height: 23px;
	background: url(../images/icons.png) no-repeat -70px -80px;
	position: absolute;
	left: 13px;
	top: 187px;
}
.btn .phone{
	width: 30px;
	height: 24px;
	background: url(../images/icons.png) no-repeat -70px -120px;
	position: absolute;
	left: 9px;
	top: 125px;
}
.btn .next{
	width: 28px;
	height: 15px;
	background: url(../images/icons.png) no-repeat -76px -209px;
	position: absolute;
	left: 17px;
	top: 242px;
}