html,body{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.page{
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	min-width: 1300px;
	min-height: 700px;
}
.page .page_f .bg{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.page .page_f .content{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 5;
}
.page .bg img{
	width: 100%;
	height: 100%;
}
.page .page_f{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.btn{
	position: absolute;
	right: 0;
	top: 50%;
	width: 70px;
	height: 277px;
	margin-right: -15px;
	background: rgba(0,0,0,0.7);
	margin-top: -138px;
	z-index: 1999;
	border-radius: 15px;
}
.btn .call a{
	color: #0AD7B3;
	position: absolute;
	top: 80px;
	left: 4px;
}
.btn .call i{
	position: absolute;
	width: 29px;
	height: 30px;
	background: url(../images/icons.png) no-repeat;
	top: 30px;
	left: 95px;
}
.btn .call{
	width: 200px;
	height: 150px;
	background: #000;
	opacity: 0.7;
	position: absolute;
	left: 60px;
	top: 60px;
	border-radius: 20px 0 0 20px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: "微软雅黑";
	position: absolute;
	overflow: hidden;
}
.btn .vx img{
	width: 120px;
	height: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
}
.btn .QQ{
	width: 24px;
	height: 24px;
	background: url(../images/icons.png) no-repeat -76px -32px;
	position: absolute;
	left: 15px;
	top: 69px;
}
.btn .prev{
	width: 28px;
	height: 15px;
	background: url(../images/icons.png) no-repeat -76px -166px;
	position: absolute;
	left: 15px;
	top: 20px;
}
.btn .WX{
	width: 30px;
	height: 23px;
	background: url(../images/icons.png) no-repeat -70px -80px;
	position: absolute;
	left: 13px;
	top: 187px;
}
.btn .phone{
	width: 30px;
	height: 24px;
	background: url(../images/icons.png) no-repeat -70px -120px;
	position: absolute;
	left: 9px;
	top: 125px;
}
.btn .next{
	width: 28px;
	height: 15px;
	background: url(../images/icons.png) no-repeat -76px -209px;
	position: absolute;
	left: 17px;
	top: 242px;
}