.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 78px;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	overflow: hidden;
	min-width: 100%;
}
.header .logo{
	width: 216px;
	height: 52px;
	background: url(../images/logo.png) no-repeat;
	position: absolute;
	text-indent: -99999px;
	top: 20px;
	left: 30px;
	background-size: 80%;
}
.header .ul{
	position: absolute;
	left: 320px;
	top: 0;
	height: 100%;
	width: 100%;
}
.header .header_bar{
	width: 120px;
	height: 6px;
	background: #0ad7b3;
	position: absolute;
	top: 0;
	left: 0px;
	z-index: 10;
}
.header .ul li{
	width: 120px;
	height: 100%;
	text-align: center;
	line-height: 78px;
	color: #d2d2d2;
	float: left;
	font-size: 18px;
	font-family: "microsoft yahei";
}
.header .telephone{
	position: absolute;
	width: 300px;
	right: 0;
	height: 100%;
}
.header .telephone span{
	position: absolute;
	left: 20px;
	top: 25px;
	width: 29px;
	height: 30px;
	background: url(../images/icons.png) no-repeat;
}
.header .telephone .contact{
	color: #0ad7b3;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	left: 60px;
	line-height: 78px;
}





