#zh{
	margin:50px auto;	
	width:222px;
	border-left:1px solid #000;
	background:#353537;
	border-right:1px solid #0a0a0a;
}
ul.zh_ul{
	width:220px;
}
ul.zh_ul li{
	width:220px;
	height:36px;
	line-height: 36px;
	background:#312f30;
	margin-bottom:1px;
	margin-left:2px;
	position:relative;
}
ul.zh_ul li a{
	color:#cbcbcb;
}
ul.zh_ul li img{
	margin-left:10px;
}
ul.zh_ul li div{
	position:absolute;
	top:10px;
	left:180px;
	background:url(../images/1.png) no-repeat; 
	width:15px;
	height:15px;
	/*margin-left:80px;*/
	/*margin-top:15px;*/
	display: none;
	cursor:pointer;
}
ul.zh_ul li div.span{
	margin-left:0px;
	
}
ul.zh_ul li.on div{
	display: block;
}
/*ul.zh_ul li.on span{
	display: block;
	z-index: 9;
}*/
ul.zh_ul li.on {
	background:#161616;
	/*z-index: 1;*/
}
