html,body{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	font-family: "微软雅黑";
}

.page{
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	min-width: 1300px;
	min-height: 650px;
}
.page .page_f .bg{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.page .page_f .content{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 5;
}

.page .bg img{
	width: 100%;
	height: 100%;
}
.page .page_f{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.btn{
	position: absolute;
	right: 0;
	top: 50%;
	width: 70px;
	height: 277px;
	margin-right: -15px;
	background: rgba(0,0,0,0.7);
	margin-top: -138px;
	z-index: 1999;
	border-radius: 15px;
	
}
.btn .val1{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
}
.btn .phone{
	top: 50px;
}
.val1 .c1{
	width: 30px;
	height: 24px;
	background: url(../images/icons.png) no-repeat -70px -120px;
	position: absolute;
	top: 16px;
	left: 10px;
}

.val1 .c2{
	width: 30px;
	height: 23px;
	background: url(../images/icons.png) no-repeat -70px -80px;
	left: 12px;
	top: 18px;
}
.val1 .c3{
	width: 24px;
	height: 24px;
	background: url(../images/icons.png) no-repeat -76px -32px;
	left: 16px;
}


.btn .weixin{
	top: 110px;
}
.btn .tp_qq{
	top: 170px;
}
.btn .call a{
	color: #0ad7b3;
}
.btn .call{
	width: 200px;
	height: 150px;
	background: #000;
	line-height: 150px;
	opacity: 0.7;
	position: absolute;
	border-radius: 20px 0 0 20px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: "微软雅黑";
	overflow: hidden;
	position: absolute;
	left: 60px;
	top: 10px;
}
.btn .vx1 img,.btn .vx2 img{
	width: 120px;
	height: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
}
.btn .vx1{
	top: -50px;
}
.btn .vx2{
	top: -110px;
}
.btn .next{
	width: 28px;
	height: 15px;
	background: url(../images/icons.png) no-repeat -76px -209px;
	position: absolute;
	left: 17px;
	top: 242px;
}
.btn .prev{
	width: 28px;
	height: 15px;
	background: url(../images/icons.png) no-repeat -76px -166px;
	position: absolute;
	left: 15px;
	top: 20px;
}


.skill{
	z-index: 10;
}
