.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 78px;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	overflow: hidden;
	min-width: 100%;
}

.page_f .bg img{
	width: 100%;
	height: 100%;
}

.header .logo{
	width: 385px;
	height: 72px;
	background:url(../images/logo.png) no-repeat;
	position: absolute;
	text-indent: -99999px;
	left: 50px;
	top: 18px;
	background-size: 40%;
}
.header .ul{
	position: absolute;
	left: 320px;
	top: 0;
	height: 100%;
	width: 100%;
}
.header .header_bar{
	width: 120px;
	height: 6px;
	background: #0ad7b3;
	position: absolute;
	top: 0;
	left: 0px;
	z-index: 10;
}
.header .ul li{
	width: 120px;
	height: 100%;
	text-align: center;
	line-height: 78px;
	color: #d2d2d2;
	float: left;
	font-size: 18px;
	font-family: "microsoft yahei";
}
.telephone{
	position: absolute;
	width: 300px;
	right: 0;
	height: 100%;
}
.telephone span{
	position: absolute;
	left: 20px;
	top: 25px;
	width: 29px;
	height: 30px;
	background: url(../images/icons.png) no-repeat;
}
.telephone .contact{
	color: #0ad7b3;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	left: 60px;
	line-height: 78px;
}

.shade{
	position: absolute;
	width: 100%;
	height: 200%;
	z-index: 1000;
	background: #000;
	opacity: 0.6;
	left: 0;
	top: -1400px;
}
.shade div{
	overflow: hidden;
}
.shade .shade_l{
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 10000;
	background: rgba(0,0,0,0.5);
	left: 0;
	top: 0;
}
.shade img{
	width: 443px;
	height: 220px;
}
.shade .shade_l img{
	position: absolute;
	right: -221px;
	top: 50%;
	margin-top: -110px;
}
.shade .shade_r img{
	position: absolute;
	left: -223px;
	top: 50%;
	margin-top: -110px;
}
.shade .shade_r{
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 10000;
	background: rgba(0,0,0,0.5);
	right: 0;
	top: 0;
}

.intros .intros_l,.intros .intros_r{
	width: 50%;
	height: 100%;
	position: absolute;
	padding-top: 78px;
	overflow: hidden;
}
.intros .intros_l{
	left: 0;
	top: -1000px;
	background: rgba(0,0,0,0.45)
}
.intros .intros_r{
	right: 0;
	bottom: -1000px;
}



/*首页内容开始*/

.username{
	font-size: 42px;
	position: absolute;
	top: 150px;
	right: 270px;
	font-weight: bold;
	color: #ddd;
	letter-spacing: 10px;
}
.intros_l_message{
	position: absolute;
	top: 230px;
	right: 130px;
	color: #c5c5c5;
	font-size: 18px;
	line-height: 50px;
}
.intros_r .intros_l_message{
	top: 308px;
	left: 130px;
}

/*首页内容结束*/



.page_son{
	position: absolute;
	width: 700px;
	height: 700px;
	margin-top: 20px;
	left: 50%;
	margin-left: -350px;
	border-radius: 50%;
	-webkit-transform: skewX(-50deg);
	-moz-transform: skewX(-50deg);
	-ms-transform: skewX(-50deg);
}
.centet_son{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	background: url(../images/sun.png) no-repeat;
	z-index: 11;
	background-size: 100%;
	-webkit-transform: skewX(50deg);
	-moz-transform: skewX(50deg);
	-ms-transform: skewX(50deg);
	transition: 1s all ease;
}

.page_sun_xq1,.page_sun_xq2,.page_sun_xq3,.page_sun_xq4,.page_sun_xq5{
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 50%;
}


.page_sun_xq1 .sun_cont,.page_sun_xq2 .sun_cont,.page_sun_xq3 .sun_cont,.page_sun_xq4 .sun_cont,.page_sun_xq5 .sun_cont{
	width: 50px;
	height: 50px;
	background:url(../images/xq_9.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: skewX(50deg);
	-moz-transform: skewX(50deg);
	-ms-transform: skewX(50deg);
	margin-top: -25px;
	margin-left: -25px;
}




.page_sun_xq1{
	width: 600px;
	top: 50%;
	left: 50%;
	height: 600px;
	margin-left: -300px;
	margin-top:-300px;
}
.page_sun_xq2{
	width: 500px;
	top: 50%;
	left: 50%;
	height: 500px;
	margin-left: -250px;
	margin-top:-250px;
}
.page_sun_xq3{
	width: 400px;
	top: 50%;
	left: 50%;
	height: 400px;
	margin-left: -200px;
	margin-top:-200px;
}
.page_sun_xq4{
	width: 300px;
	top: 50%;
	left: 50%;
	height: 300px;
	margin-left: -150px;
	margin-top:-150px;
}
.page_sun_xq5{
	width: 200px;
	top: 50%;
	left: 50%;
	height: 200px;
	margin-left: -100px;
	margin-top:-100px;
}

.page_sun_xq2 .sun_cont{
	background:url(../images/xq_8.png) no-repeat;
	background-size: 100%;
	width: 70px;
	height: 70px;
}
.page_sun_xq4 .sun_cont{
	background:url(../images/xq_3.png) no-repeat;
	background-size: 100%;
	
}
.page_sun_xq5 .sun_cont{
	background:url(../images/xq_4.png) no-repeat;
	background-size: 100%;
}
.page_sun_xq3 .sun_cont{
	background:url(../images/xq_7.png) no-repeat;
	background-size: 100%;
	width: 70px;
	height: 70px;
}




/**/
.xq_text{
	width: 200px;
	background: red;
	position: absolute;
	top: 50px;
	left: -70px;
	height: 0;
	overflow: hidden;
}





/*-----------------------*/

/*skill*/

.skill{
	width: 100%;
	height: 100%;
	line-height: 35px;
	font-size: 24px;
	line-height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.skill ul{
	width: 1000px;
	height: 400px;
	line-height: 72px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -750px;
	margin-left: -500px;
}
.skill a{
	color: #e6e6e6;
}
.skill .skill_text p{
	position: relative;
}
.skill .skill_text span{
	position: absolute;
	left: -30px;
	top: -5px;
	font-size: 70px;
}
